*.iml
.gradle
/local.properties
/.kotlin*
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
testdata/__pycache__/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
venv
